<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">This website for Carousel Hat was programmed throughout the course called Devcamp, and is completely coded with Ruby on Rails. You may change this description in "pages/home.html.erb"</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>