<div class="inner cover">
  <h1 class="cover-heading">Tech News</h1>
  
  <p>An implementation that was from the class, thought it was cool so it will stay for now. This paragraph may be removed at some point in time.</p>
  
  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-4">
        <div class="tech-news">
          <div class="card">
            <%= twitter_parser tweet %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>